name: Tests

on:
    push:
        paths:
            - '**.php'
            - phpunit.xml.dist
            - .github/workflows/pest.yml
            - composer.json
    pull_request:
        branches:
            - main

jobs:
    test:
        runs-on: ubuntu-latest

        strategy:
            fail-fast: true
            matrix:
                php: [8.2, 8.1]
                laravel: ['8.*', '9.*', '10.*', '11.*']
                stability: [prefer-lowest, prefer-stable]
                include:
                    -   laravel: 10.*
                        testbench: 8.*
                    -   laravel: 9.*
                        testbench: 7.*
                    -   laravel: 8.*
                        testbench: ^6.23
                    -   laravel: 11.*
                        testbench: 9.*
                exclude:
                    -   laravel: 9.*
                        php: 8.2
                        stability: prefer-lowest
                    -   laravel: 8.*
                        php: 8.2
                        stability: prefer-lowest
                    -   laravel: 11.*
                        php: 8.1

        name: P${{ matrix.php }} - L${{ matrix.laravel }} - ${{ matrix.stability }}

        steps:
            -   name: Checkout code
                uses: actions/checkout@v3

            -   name: Setup PHP
                uses: shivammathur/setup-php@v2
                with:
                    php-version: ${{ matrix.php }}
                    extensions: dom, curl, libxml, mbstring, zip, pcntl, pdo, sqlite, pdo_sqlite, bcmath, soap, intl, gd, exif, iconv, imagick, fileinfo
                    coverage: none

            -   name: Setup problem matchers
                run: |
                    echo "::add-matcher::${{ runner.tool_cache }}/php.json"
                    echo "::add-matcher::${{ runner.tool_cache }}/phpunit.json"

            -   name: Install dependencies
                run: |
                    composer require "laravel/framework:${{ matrix.laravel }}" "orchestra/testbench:${{ matrix.testbench }}" --no-interaction --no-update --ignore-platform-reqs
                    composer update --${{ matrix.stability }} --prefer-dist --no-interaction --ignore-platform-reqs

            -   name: List Installed Dependencies
                run: composer show -D

            -   name: Execute tests
                run: vendor/bin/pest
                env:
                    PRINT_NODE_API_KEY: ${{ secrets.PRINT_NODE_API_KEY }}
                    PRINT_NODE_ID: ${{ secrets.PRINT_NODE_ID }}
